StructurePrototype(
    id: "base:building/gas_pump",
    display_name: "base.structure.gas_pump",
    size: (width: 2, height: 1),
    visual: VisualDefinition(
        kind: SingleSprite(
            image: "textures/structure/gas_pump.png",
        ),
    ),
)

